body{
	background-color: lightgrey;
}
.overlay{
	background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0px;
    padding: 0;
    height: 100%;
    width: 100%;
    opacity: .9;
}

.imgcontainer{
	height: 100vh;
    position: relative;
    color: #fff;
}

.bg-image {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
}

.img-text{
	color: white;
}

.font{
	text-transform: capitalize;
	font-size: 4rem;
}

@media only screen and (max-width: 700px){
	.font{
	text-transform: capitalize;
	font-size: 3rem;
	}
}

div.fluid-text a{
	font-size: 1.1rem;
}

@font-face{
	font-family: fontstyle;
	src: url(sansation_light.woff);
}

@font-face{
	font-family: fontstyle2;
	src: url('../font/Rubik_Beastly/RubikBeastly-Regular.ttf');
}

/*@font-face{
	font-family: fontstyle3;
	src: url('../font/Rubik_Beastly/RubikBeastly-Regular.ttf');
}*/


.font-style{
	font-family: fontstyle;
}

.font-style2{
	font-family: fontstyle2;
	font-size: 30px;
}