body{
	background-color: #f5f5f5;
}

#goUpBtn {
  display: none;/* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: rgb(255, 255, 255); /* Set a background color */
  color: green; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  font-size: 18px; /* Increase font size */
  transition: 1s;
  border-radius: 20%;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
}

#goUpBtn:hover{
	background-color: green;
	color: white;
}

.bg-custom{
	background-color: rgba(0, 0, 0, 0.9);
}

.overlay{
	background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0px;
    padding: 0;
    height: 100%;
    width: 100%;
    opacity: .9;
}

.imgcontainer{
	height: 100vh;
    position: relative;
    color: #fff;
}

.bg-image {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    padding-top: 0%;
}

.img-text{
	color: white;
}

.font{
	text-transform: capitalize;
	font-size: 4rem;
}

div.fluid-text a{
	font-size: 1.1rem;
}

@font-face{
	font-family: fontstyle;
	src: url(sansation_light.woff);
}

@font-face{
	font-family: fontstyle2;
	src: url('../font/Rubik_Beastly/RubikBeastly-Regular.ttf');
}

@font-face{
	font-family: font_style;
	src: url('../font/Ultra/Ultra-Regular.ttf');
}


.font-style{
	font-family: fontstyle;
}

.font-style2{
	font-family: fontstyle2;
	font-size: 30px;
}

.font_style{
	font-family: font_style;
	font-size: 2.2rem;
}

.bg-contain{
	background-color: #ffffff;
	box-shadow: 1px 2px 3px 3px lightgrey;
}

.img-box{
	width: 180px;
	height: 180px;
}

div.rate-container{
	width: 100%;
	height: 12px;
	background-color: grey;
	margin-bottom: 3%;
}

.rate{
	height: 12px;
	background-color: green;
}

div.styling span{
	font-weight: bold;
	font-size: 1.1rem;
}

.line-deco{
	width: 16%;
	height: 4px;
	background-color: green;
}

.front-line{
	align-items: center;
	width: 5%;
	height: 4px;
	background-color: green;
}

.icon-styling{
	font-size: 2.5rem;
}

.icon-box{
	width: 120px; 
	height: 120px; 
	border: 8px solid green;
	color: green;
	transition: 1s;
}

.icon-box:hover{
	background-color: green;
	color: white;
	border: 8px solid lightgreen;
}

.container-height{
	height: 100%
}

@media only screen and (max-width: 700px){
	.front-line{
		width: 10%;
	}
	.img-box{
		width: 120px;
		height: 120px;
	}
	.font{
		text-transform: capitalize;
		font-size: 3rem;
	}
	.bg-image{
		background-attachment: scroll;
	}
}

div.footer a{
	color: white;
	text-decoration: none;
	margin: 0 1% 0 1%;
}

.background-i{
	padding: 4% 0% 4% 0%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: left;
}